$TrebuchetMS: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

// Colors of statuses of grocery cards
$color-status-default: #1698d9;
$color-status-selected: #d91667;
$color-status-disabled: #b3b3b3;
