.product-card {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 10px;

    &__content {
        border-radius: 14px;
        border: 4px solid #1698d9;
        background-color: #f2f2f2;
        height: 480px;
        clip-path: polygon(13.9% 0, 100% 0, 100% 100%, 0 100%, 0 9.3%);
        margin-bottom: 15px;
        position: relative;

        &:before {
            content: '';
            width: 70px;
            height: 5px;
            background-color: #1698d9;
            transform: rotate(135deg);
            position: absolute;
            left: -12px;
            top: 14px;
        }
    }

    &__footer {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        color: #fff;
    }
}
